.r-header {
	position: relative;
	z-index: -1;

	overflow: hidden;

	padding: 10px;

	border-bottom: 1px solid #fff;
	background: rgba($color-darkBlue, 1);

	@include bp(1280px) {
	}
	@include bp(1680px) {
	}
	@include media($tablet) {
	}
	@include media($mobile) {
	}
	.header__rotate {}
}
