.r-sidebar {
	@include span-columns(3);
	@include media($mobile) {
		margin: 2rem 0;

		@include span-columns(4);
	}
	&.is-right {
		float: right;

		margin-right: 0;

		@include media($mobile) {
			margin-top: 0;
		}
	}
	h2,
	h3 {
		font-family: $font-family;
		font-size: 2rem;

		margin-bottom: 1rem;

		color: $color-lightBlue;
	}
}
