.arrow {
	span {
		@include fx-arrow($color: #000, $direction: right);
		@include prefix(transition, all 300ms ease);

		height: 60px;
		display: inline-block;
		padding: 0 20px;
		line-height: 60px;
		background-color: #000;
		color: #fff;
		font-size: 1.8rem;

		&:hover {
			@extend %slide-moveToLeft;

			background-color: #999;

			&:after {
				border-left-color: #999;
			}
		}
	}
}