<div class="c-animations" data-css="c-animations">
	<div class="animations__wrapper">
		<strong class="animations__headline">{{this}}</strong>
		<div class="animations__animate animate slide-{{this}}"></div>
		<div class="clearfix"></div>
	</div>
</div>