/* ===================================================
CENTERING MIXIN
=================================================== */

/* ---------------------------------------------------
Use this mixin to center your elements with translate
--------------------------------------------------- */

@mixin centering($scope, $pos: absolute) {
	position: $pos;

	@if $scope == "v" {
		top: 50%;
		@include prefix('transform', translateY(-50%));
	}

	@if $scope == "h" {
		left: 50%;
		@include prefix('transform', translateX(-50%));

	}

	@if $scope == "hv" {
		top: 50%;
		left: 50%;
		@include prefix('transform', translate(-50%, -50%));
	}
}