/* ---------------------------------------------------
Rotate Newspaper
--------------------------------------------------- */
@mixin slide-rotateOutNewspaper($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	@include prefix(transform-origin, 50% 50%);
	@include prefix(animation, rotateOutNewspaper $transition-duration ease-in both);
}

@mixin slide-rotateInNewspaper($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	@include prefix(transform-origin, 50% 50%);
	@include prefix(animation, rotateInNewspaper $transition-duration ease-out both);
}

/* ---------------------------------------------------
KEYFRAMES: NEWSPAPER
--------------------------------------------------- */
@include keyframes(rotateOutNewspaper) {
	from {
	}
	to {
		opacity: 0;
		@include prefix(transform, translateZ(-3000px) rotateZ(360deg));
	}
}

@include keyframes(rotateInNewspaper) {
	from {
		opacity: 0;
		@include prefix(transform, translateZ(-3000px) rotateZ(-360deg));
	}
}