/* ---------------------------------------------------
Base styles
--------------------------------------------------- */
html {
	font-size: 62.5%;

	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
}