/* ===================================================
GLOBAL SETTINGS
=================================================== */

/* ---------------------------------------------------
Prefix
--------------------------------------------------- */
$pg-webkit: true;
$pg-moz: true;
$pg-ms: true;
$pg-o: true;

/* ---------------------------------------------------
Animations
--------------------------------------------------- */

$transition-duration: 600ms;
$transition-ease-method: ease;
$transition-property: all;