/* ===================================================
GLOBAL SETTINGS
=================================================== */

/* ---------------------------------------------------
Prefix
--------------------------------------------------- */
$webkit: true;
$moz: true;
$ms: true;
$o: true;
