/* ===================================================
GLOBAL SETTINGS
=================================================== */

/* ---------------------------------------------------
Prefix
--------------------------------------------------- */
$veams-webkit: true;
$veams-moz: true;
$veams-ms: true;
$veams-o: true;

/* ---------------------------------------------------
Animations
--------------------------------------------------- */

$transition-duration: 600ms;
$transition-ease-method: ease;
$transition-property: all;