/* ===================================================
LAYOUT EXTENDS
=================================================== */

%float {
	@include float;
}

%pseudo {
	content: '';
	display: block;
	position: absolute;
}