/* ===================================================
KEYFRAMES: PUSH AND PULL
=================================================== */

/* ---------------------------------------------------
Push
--------------------------------------------------- */

@include keyframes(rotatePushLeft) {
	from {
	}
	to {
		@include prefix(transform, rotateY(90deg));
		opacity: 0;
	}
}

@include keyframes(rotatePushRight) {
	from {
	}
	to {
		@include prefix(transform, rotateY(-90deg));
		opacity: 0;
	}
}

@include keyframes(rotatePushTop) {
	from {
	}
	to {
		@include prefix(transform, rotateX(-90deg));
		opacity: 0;
	}
}

@include keyframes(rotatePushBottom) {
	from {
	}
	to {
		@include prefix(transform, rotateX(90deg));
		opacity: 0;
	}
}

/* ---------------------------------------------------
Pull
--------------------------------------------------- */

@include keyframes(rotatePullRight) {
	from {
		@include prefix(transform, rotateY(-90deg));
		opacity: 0;
	}
}

@include keyframes(rotatePullLeft) {
	from {
		@include prefix(transform, rotateY(90deg));
		opacity: 0;
	}
}

@include keyframes(rotatePullTop) {
	from {
		@include prefix(transform, rotateX(-90deg));
		opacity: 0;
	}
}

@include keyframes(rotatePullBottom) {
	from {
		@include prefix(transform, rotateX(90deg));
		opacity: 0;
	}
}
