/* ===================================================
KEYFRAMES: FOLD AND UNFOLD
=================================================== */

/* ---------------------------------------------------
Fold
--------------------------------------------------- */

@include keyframes(rotateFoldRight) {
	from {
	}
	to {
		@include prefix(transform, translateX(100%) rotateY(90deg));
		opacity: 0;
	}
}

@include keyframes(rotateFoldLeft) {
	from {
	}
	to {
		@include prefix(transform, translateX(-100%) rotateY(-90deg));
		opacity: 0;
	}
}

@include keyframes(rotateFoldTop) {
	from {
	}
	to {
		@include prefix(transform, translateY(-100%) rotateX(90deg));
		opacity: 0;
	}
}

@include keyframes(rotateFoldBottom) {
	from {
	}
	to {
		@include prefix(transform, translateY(100%) rotateX(-90deg));
		opacity: 0;
	}
}

/* ---------------------------------------------------
Unfold
--------------------------------------------------- */

@include keyframes(rotateUnfoldLeft) {
	from {
		@include prefix(transform, translateX(-100%) rotateY(-90deg));
		opacity: 0;
	}
}

@include keyframes(rotateUnfoldRight) {
	from {
		@include prefix(transform, translateX(100%) rotateY(90deg));
		opacity: 0;
	}
}

@include keyframes(rotateUnfoldTop) {
	from {
		@include prefix(transform, translateY(-100%) rotateX(90deg));
		opacity: 0;
	}
}

@include keyframes(rotateUnfoldBottom) {
	from {
		@include prefix(transform, translateY(100%) rotateX(-90deg));
		opacity: 0;
	}
}