/* ---------------------------------------------------
Main Styles
--------------------------------------------------- */
html {
	font-size: 62.5%;

	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;

	color: #333;
	background: rgba($color-lightBrown, 0.2);
}

h1,
h2,
h3,
h4 {
	font-family: $font-family;
}

p,
ul,
li {
	font-family: $font-family;
	font-weight: $font-normal;
	line-height: 2.8rem;

	margin-bottom: 1rem;

	@include rem("font-size", 17px);
}

#site-wrapper {
	height: 100%;
}

.container {
	padding: 0 1em;

	@include outer-container;
}

.canvas {
	border-top: 1px solid #fff;
}
