
@import "../../../bower-components/neat/app/assets/stylesheets/neat-helpers";

// Change the grid settings
$column: 73px;
$gutter: 22px;
$grid-columns: 12;
$max-width: em(1138);
$nav-width: 300px;
$nav-mobile-width: 270px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 640px 4);
$mobile-s: new-breakpoint(max-width 320px 4);

// Colors
$color-logo: #272727;
$color-border: rgba(#999, 0.7);
$color-darkBlue: #593825;
$color-middleBlue: #F2C166;
$color-lightBlue:  #BFA799;
$color-darkBrown: #D9C55F;
$color-lightBrown: #f1dbc3;
$color-darkWhite: #fcf7f3;
$color-validate-error: red;

// Fonts
$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-xtrabold: 900;
