---
block: logo
---

<h1 class="b-logo">
	<a href="/"><span class="logo__symbol"><img src="{{assets}}/img/logo-symbol.svg" alt="Logo PG" /></span><span class="logo__text">SCSS Starter Kit</span></a>
</h1>