<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

{{partial "b-version" }}

<head>
	{{#block "metadata"}}
		{{> _metadata }}
	{{/block}}
	{{#block "styles"}}
		{{> _styles }}
	{{/block}}
</head>

<body class="{{ bodyclass }}">
	<div id="site-wrapper">
		<div class="canvas" id="site-canvas">

			<!-- Header
			================================================== -->
			<header class="r-header">
				<div class="header__rotate">
					<div class="container header__container">
						{{> b-toggle }}
						{{> b-github }}
						{{> b-logo }}
					</div>
				</div>
			</header>

			<!-- Nav
			================================================== -->
			<section class="r-nav">
				<div class="nav__rotate">
					{{> b-nav }}
				</div>
			</section>

			<!-- Stage
			================================================== -->
			<section class="r-stage">
				<div class="stage__rotate">
					<div class="container stage__container">
						{{> b-stage-content }}
					</div>
				</div>
			</section>

			<!-- Content
			================================================== -->
			<main class="r-main" id="main">
				<div class="main__rotate">
					<div class="container main__container">
						{{#block "sidebar-right"}}
							<aside class="r-sidebar is-right">
								<div class="m-sticky" data-sticky="true">
									{{> b-toc }}
									{{> b-release }}
								</div>
							</aside>
						{{/block}}
						<div class="r-content">
							{{#block "body"}}
								{{> body }}
							{{/block}}
						</div>
					</div>
				</div>

			</main>

			<!-- Footer
			================================================== -->
			<footer class="r-footer">
				<div class="container footer__container">
					<div class="footer__inner">
						{{#block "footer"}}
							{{> b-footer-copy }}
						{{/block}}
					</div>
				</div>
			</footer>

		</div>
	</div>

	{{#block "scripts"}}
		{{> _scripts }}
	{{/block}}
</body>
</html>