.b-github {
	position: absolute;
	top: 50%;
	right: 70px;
	transform: translateY(-50%);

	@include media($mobile) {
		display: none;
	}
	.github__link {
		display: block;
	}
	.github__img {
		border: 0;
		width: 35px;
		height: auto;
	}
}
