.b-github {
	@include media($mobile) {
		display: none;
	}
	.github__link {
		display: block;
	}
	.github__img {
		position: absolute;
		top: 19px;
		right: 85px;

		border: 0;
		width: 35px;
		height: auto;
	}
}
