.b-logo {
	width: auto;
	padding: .5rem 0;
	display: table;
	vertical-align: middle;

	text-align: left;


	@include media($mobile) {
		text-align: left;
	}
	a {
		text-decoration: none;
	}
	.logo__text {
		font-family: $font-family;
		padding-left: 2rem;
		display: table-cell;
		vertical-align: middle;
		color: #fff;
		font-weight: $font-light;
		font-size: 2rem;
		text-decoration: none;
		letter-spacing: 1px;

		// background: url("../img/logo-text.svg") no-repeat 50% center;

		@include media($mobile) {
			background: none;
		}
	}
	.logo__symbol {
		display: table-cell;
		vertical-align: middle;

		img {
			display: inline;

			width: 40px;
			height: auto;

			@include backface-visibility(visible);
			@include perspective(10);
			@include transform-style(preserve-3d);
			@include transform(rotate3d(0, 0, 0, 0deg));
			@include transition(transform 500ms ease-in-out);
			&:hover {
				@include transform(rotate3d(0, 1, 0, 180deg));
			}
		}
	}
}
