#site-wrapper {
	position: relative;

	overflow: hidden;

	width: 100%;
	height: 100%;
}

#site-canvas {
	position: relative;

	width: 100%;
	height: 100%;

	@include transform(translateX(0));
	@include transform(translate3d(0, 0, 0));
	@include transition(300ms ease all);
	@include backface-visibility(hidden);
}

.show-nav #site-canvas {
	transform: translateX($nav-width);

	@include transform(translateX($nav-width));
	@include transform(translate3d($nav-width, 0, 0));
	@include media($mobile) {
		@include transform(translateX($nav-mobile-width));
		@include transform(translate3d($nav-mobile-width, 0, 0));
	}
}

#site-menu {
	position: absolute;
	z-index: 10;
	top: 0;
	left: -$nav-width;

	overflow: hidden;

	width: $nav-width;
	height: 100%;

	background: darken($color-lightBlue, 0.2);

	@include media($mobile) {
		left: -$nav-mobile-width;

		width: $nav-mobile-width;
	}
}

.b-navbar {
	h2 {
		font-size: 1.8rem;

		margin: 3rem 1.5rem 0.5rem;
		padding: 0.5rem 0rem;

		text-transform: uppercase;

		color: lighten($color-lightBlue, 15);
		border-bottom: 1px solid lighten($color-lightBlue, 15);
	}
}

.navbar__list {
	li {
		margin: 0 1.5rem 1px 1.5rem;
	}
	a {
		font-family: $font-family;
		font-size: 1.6rem;
		font-weight: $font-light;

		display: block;

		padding: 1rem;

		text-decoration: none;
		letter-spacing: 1px;

		color: #fff;
		&.is-active {
			color: #fff;
			background: lighten($color-lightBlue, 15);
		}
		&:hover {
			color: #fff;
			background: $color-darkBlue;
		}
	}
}
