.b-stage-content {
	.stage-content__head {
		font-family: $font-family;
		font-size: 4rem;
		font-weight: $font-light;
		line-height: 5rem;

		display: block;

		padding-bottom: 2rem;

		color: $color-darkBlue;
		border-bottom: 1px solid $color-darkBlue;
	}
	.stage-content__lead {
		font-family: $font-family;
		font-size: 2.5rem;
		font-weight: $font-normal;
		line-height: 3.5rem;

		display: block;

		max-width: 550px;
		margin-top: 2rem;

		color: $color-darkWhite;
	}
}
