.b-toggle {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);

	.toggle__link {
		@extend %hide-text;
		
		position: relative;

		&:after {
			@extend %pseudo;
			@include grunticon(menu);
			@include transform(rotate(0deg) translateY(0));
			@include transition(300ms ease all);
			// @include centering(v);

			top: 50%;
			margin-top: -21px;
			width: 31px;
			height: 36px;
			right: 0;
		}
		&.is-open {
			&:after {
				@include transform(rotate(-90deg) translateY(0));
				@include media($mobile) {
					@include transform(rotate(-90deg) translateY(20px));
				}
			}
		}
	}
}
