.b-toggle {
	.toggle__link {
		position: absolute;
		z-index: 9;
		top: 50%;
		left: $nav-width + 30px;

		margin-top: -18px;

		@include hide-text;
		&:after {
			width: 31px;
			height: 36px;

			@extend %pseudo;
			@include grunticon(menu);
			@include transform(rotate(0deg) translateY(0));
			@include transition(300ms ease all);
		}
		&.is-open {
			&:after {
				@include transform(rotate(-90deg) translateY(0));
				@include media($mobile) {
					@include transform(rotate(-90deg) translateY(-20px));
				}
			}
		}
	}
}
